@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Prompt", ui-sans-serif, system-ui, sans-serif;
  --color-brand-navy: #0A2540;
  --color-brand-blue: #004B87;
  --color-brand-gold: #ffc107;
}

html {
  scroll-behavior: smooth;
}
